.newpageform {
    min-height: 78px;
}

.topscrollgluefix {
    position: fixed;
    top:30px;
    margin:0;
    z-index: 99;
    /*box-shadow: 0 0 5px rgba(0,0,0,.7);*/
}


.topscrollgluefix div {
    margin:0;

}

.topscrollgluefix .checkads {
    padding-top: 0 !important;
}

#upscrolllink {
    font-size:14pt;cursor:pointer;
}



.filtercheckbox, .filterspin {
    height: 24px;
    min-width: 24px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    cursor:pointer;
}

.filtercheckbox img, .filterspin img {
    height: 24px;
    min-width: 24px;
}



.filtercheckbox_cover {
    margin-left: -24px;
}

.filtercheckbox .filtercheckbox_cover {
    display: none;
}

.filtercheckbox_2 .filtercheckbox_cover {
    display: inline-block;
    touch-action: none;
}


.filtercheckbox img {
    filter: grayscale(100%);
    opacity: .3;
    float: left;
}

.filtercheckbox_1 img, .filtercheckbox_2 img {
    filter: none;
    opacity: unset;
}

.finder li img {
    vertical-align: sub;
}



.filtercheckbox, .filterspin, .filtercontrol {
    margin: 5px 7px 5px 0 !important;
}

.filtercontrol {
    min-width: 70px;
    max-width: 200px;
}


